# http://git-scm.com/book/en/Customizing-Git-Git-Configuration
# we have two executables created:
#   /usr/local/bin/extMerge
#   /usr/local/bin/extDiff

[merge]
  tool = extMerge
[mergetool "extMerge"]
  cmd = extMerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
  trustExitCode = false
[diff]
  external = extDiff
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = current
[user]
        name = theo-bt
	email = theo@bittorrent.com
[grep]
	extendRegexp = true
	lineNumber = true
[alias]
	g = grep --break --heading --line-number
